<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница авторизации</title>
    <!-- Подключение CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="auth-container">
    <form class="auth-form" th:action="@{/login}" method="post">
        <h2>Вход</h2>
        <div class="input-group">
            <label for="username">Email</label>
            <input type="username" id="username" name="username" placeholder="Имя пользователя" required>
        </div>
        <div class="input-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Пароль" required>
        </div>
        <button type="submit" class="auth-button">Войти</button>
    </form>
</div>
</body>
</html>